.titulosComercial {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    margin-left: 256px;
    margin-right: 18px;
    height: 65px;
    background-color: #2294d2;
    color: white;

}

.MaxiCard {
    display: flex;
    justify-content: space-around;
    width: 64%;
    margin: 20px 0;
    border: 1px solid #ccc;
    margin-left: 271px;
    margin-top: 58px;
    background: #FFFFFF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    transition: transform 0.3s;
}

.MaxiCard:hover {
    transform: scale(1.05);
    /* Esto aumenta el tamaño de la tarjeta en un 5% */
}

.card-content,
.card-image {
    width: 25%;
    padding: 20px;
}

.card-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Esto centrará la imagen horizontalmente. */
}

.card-content {
    width: 49%;
    align-items: center;
}

.card-content,
.card-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #3c82b7;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    align-items: flex-start;
}

.card-subtitle {
    font-size: 20px;
    color: #777;
    font-family: "Poppins", sans-serif;

}

.card-text {
    font-size: 20px;
    color: #3c82b7;
    font-family: "Poppins", sans-serif;
}

.card-listado {
    margin-top: -40px;
    margin-left: -46px;
    color: #777;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.centered-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.centered-container p {
    margin-bottom: 41px;
    font-size: 19px;
    color: #666;
    text-align: center;
    margin-left: 246px;
}
.videoApp{
    margin-left: 20%;
    
}
.btn-volver {
    margin-top: 20px;
    padding: 10px 35px;
    font-size: 18px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    
}

.btn-volver:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
    .titulosComercial {
        font-size: 14px;
        /* Reducir más el tamaño del texto */
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .MaxiCard {
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }

    .card-content,
    .card-image {
        width: 100%;
        padding: 5px;
    }

    .card-content h2 {
        font-size: 14px;
        /* Reducir más el tamaño del texto */
    }

    .card-subtitle,
    .card-text {
        font-size: 12px;
        /* Reducir más el tamaño del texto */
    }

    .card-image {
        display: none;
        /* Esconde la imagen */
    }

    .centered-container p {
        font-size: 12px;
        /* Reducir más el tamaño del texto */
        margin-left: 0;
    }

    .videoApp {
        margin-left: 0;
    }
}

/* Estilos para dispositivos medianos (tabletas en modo retrato) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .titulosComercial {
        font-size: 18px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .MaxiCard {
        width: 95%;
        margin-left: 2.5%;
        /* 2.5% de margen a la izquierda y 2.5% a la derecha = 5% en total */
    }

    .card-content h2 {
        font-size: 18px;
    }

    .card-subtitle,
    .card-text {
        font-size: 16px;
    }
}
