body {
    background-color: #ecf0f1;
    overflow-y: auto;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    margin-left: 256px;
    margin-right: 18px;
    height: 65px;
    background-color: #2294d2;
    color: white;
}


.accordion {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    margin-left: 255px;
    margin-right: 17px;
}

.accordion-title {
    padding: 11px;
    line-height: 3.5;
    cursor: pointer;
    color: #2294d2;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.accordion-content {
    padding: 1.25rem;
    border-top: 1px solid #ddd;
    font-size: 1.125rem;
    color: #7d7f83;
    background-color: #fafafa;
}

.accordion-arrow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f5f5f5;
    border: 2px solid #2294d2;
    position: relative;
    transition: transform 0.4s ease;
    /* puedes ajustar la duración y la función de timing si lo deseas */
    transform: rotate(0deg);
    /* posición inicial (acordeón cerrado) */
}

/* Creación de la flecha apuntando hacia abajo usando solo :before */
.accordion-arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-left: 2px solid #2294d2;
    border-bottom: 2px solid #2294d2;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%) rotate(135deg);
    /* Corrección aquí */
}

/* Cuando el acordeón esté abierto, rotamos la flecha para que apunte hacia arriba */
.accordion-arrow.open:before {
    transform: translate(-50%, -50%) rotate(-45deg);
    /* Corrección aquí */
}