body {
    background-color: #ecf0f1;
    overflow-y: auto;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    margin-left: 256px;
    margin-right: 20px;
    height: 65px;
    background-color: #2294d2;
    color: white;
}

.youtube {
    display: flex;
    justify-content: space-around;
    padding-left: 256px;
    padding-right: 18px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 101%;
    padding-left: 242px;
    justify-content: flex-start;
    padding-top: 69px;

}

.card {
    width: 205px;
    margin: 15px;
    height: 238px;
    box-shadow: 0px 6px 6px rgba(14, 0, 0, 0.3);
    text-align: center;
}

.card img {
    width: 100%;
}

.search-bar {
    margin-left: 257px;
    margin-top: 49px;
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    width: 246%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 6px 6px rgba(14, 0, 0, 0.3);
}

.search-bar input:focus {
    border: 3px solid #2294d2;
    outline: none;
}

.search-bar {
    position: relative;
    display: inline-block;
}



.search-bar button {
    position: absolute;
    right: -329px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}
.btn-volver {
    margin-top: 20px;
    padding: 10px 35px;
    font-size: 18px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;

}

.btn-volver:hover {
    background-color: #0056b3;
}